@font-face
{
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue-Light.woff') format('woff');
    font-weight: normal;
}

@font-face
{
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue-Medium.woff') format('woff');
    font-weight: bold;
}

*
{
    font-family: 'HelveticaNeue';
}

body
{
    margin: 0px;
}

p
{
    color: #616161;
}

.bloc-page
{
    width: 100%;
    display: flex;
}

aside
{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #B2DFDB;
}

a, a:visited
{
    text-decoration: none;
    color: #757575;
}

.side-box:nth-of-type(1)
{
    flex: 2;
}

.side-box:nth-of-type(2)
{
    flex: 4;
}

.picture
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.my-picture
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px rgba(117, 117, 117, 0.3) solid;
}

h3
{
    background-color: #424242;
    color: #B2DFDB;
    text-align: center;
    font-size: 1.6em;
    padding: 10px 0 5px 0;
    margin: 0;
}

.my-info
{
    padding: 20px 40px 30px 40px;
    font-weight: bold;
}

.about-me
{
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

.hobbies
{
    padding: 20px 60px 40px 60px;
    margin-top: 1em;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;
}

.side-icon
{
    width: 60px;
    height: 60px;
    font-size: 1.9em;
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bloc
{ 
    width: 67%;
    padding-left: 50px;
    padding-right: 50px;
}

header
{
    margin-bottom: 65px;
}

h1
{
    font-size: 3.4em;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 10px;
}

.first-name
{
    color: #B2DFDB;
    font-weight: bold;
}

.job
{
    font-size: 1.5em;
    font-weight: bold;
}

.job, .description-box, .my-info, .about-me
{
    color : #424242;
}

.first-line
{
    display: block;
    background-color: #B2DFDB;
    height : 2px;
    width : 55px;
    margin-bottom: 50px;
}

.category-title
{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.icon
{
    width: 30px;
    margin-right: 20px;
    font-size: 1.9em;
    color: #B2DFDB;
}

h2
{
    font-size: 1.7em;
}

.line
{
    display: block;
    background-color: #B2DFDB;
    height : 2px;
    width : 100%;
}

.description-box
{
    display: flex;
    margin-top: 40px;
}

.description-box-recommandation
{
    display: flex;
    margin-top: 20px;
    padding-bottom: 40px;
}


.date-and-place
{
    flex: 1;
    font-weight: bold;
}

.small-icon
{
    width: 30px;
    color: #B2DFDB;
}

.description
{
    flex: 3;
    padding-left: 10px;
    text-align: justify;
}

h4
{
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.recommandation
{
    width: 50%;
}

.recommandation-name
{
    font-weight: bold;
}

.recommandation-email
{
    font-weight: normal;
}


@media screen and (max-width: 640px) 
{
    aside
    {
        width: 100%;
    }

    .bloc-page
    {
        flex-wrap: wrap;
    }
}