@font-face
{
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue-Light.woff') format('woff');
    font-weight: normal;
}

@font-face
{
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue-Medium.woff') format('woff');
    font-weight: bold;
}

*
{
    font-family: 'HelveticaNeue';
}

body
{
    margin: 0px;
}

header
{
    margin-bottom: 65px;
}

h1
{
    font-size: 3.4em;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 10px;
}

h2
{
    font-size: 1.7em;
    margin: 0;
}

h3
{
    background-color: #424242;
    color: #B2DFDB;
    font-size: 1.6em;
    text-align: center;
    padding: 10px 0 5px 0;
    margin: 0;
}

h4
{
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 15px;
}

p
{
    color: #616161;
}

.bloc-page
{
    display: flex;
    width: 100%;
}

aside
{
    background-color: #B2DFDB;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.main-bloc
{ 
    width: 67%;
    padding: 0 5%;
}

.side-section:nth-of-type(1)
{
    flex: 2;
}

.side-section:nth-of-type(2)
{
    flex: 4;
}

.main-section
{
    padding-top: 50px;
}

a, a:visited
{
    text-decoration: none;
    color: #757575;
}

.job, .description-box, .my-info, .about-me
{
    color : #424242;
}

.small-line
{
    background-color: #B2DFDB;
    display: block;
    width : 65px;
    height : 2px;
    margin-bottom: 50px;
}

.line
{
    background-color: #B2DFDB;
    display: block;
    width : 100%;
    height : 2px;
}

.icon
{
    color: #B2DFDB;
    font-size: 1.9em;
    width: 30px;
    margin-right: 20px;
}

.small-icon
{
    color: #B2DFDB;
    padding-right: 10px;
}

.side-icon
{
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50%;
    font-size: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.picture
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.my-picture
{
    border-radius: 100%;
    border: 4px rgba(117, 117, 117, 0.3) solid;
    width: 200px;
    height: 200px;
}

.my-info
{
    font-weight: bold;
    padding: 20px 40px 30px 40px;
}

.about-me
{
    text-align: justify;
    padding: 20px 40px;
}

.hobbies
{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 40px 50px;
    margin-top: 1em; 
}

.first-name
{
    color: #B2DFDB;
    font-weight: bold;
}

.job
{
    font-size: 1.5em;
    font-weight: bold;
}

.category-title
{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.description-box
{
    display: flex;
    margin-top: 40px;
}

.description
{
    flex: 3;
    padding-left: 10px;
}

.description p
{
    text-align: justify;
}

.description-box-recommandation
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.date-and-place-box
{
    display: flex;
    flex: 1;
    font-weight: bold;
}

.recommandation
{
    width: 50%;
    padding-bottom: 20px;
}

.recommandation-name
{
    font-weight: bold;
}

.recommandation-email
{
    font-weight: normal;
}
