/* définition de la police */

@font-face {
    font-family: 'Roboto-Light-webfont';
    src: url('assets/font/Roboto-Light-webfont.woff') format('woff');
}

*
{
    font-family: 'Roboto-Light-webfont', sans-serif;
}

body
{
    margin: 0px;
}

.bloc-page
{
    width: 100%;
    display: flex;
}

aside
{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #FBC02D;
}

.side-box:nth-of-type(1)
{
    flex: 2;
}

.side-box:nth-of-type(2)
{
    flex: 4;
}

.picture
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.my-picture
{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    border: 4px rgba(117, 117, 117, 0.3) solid;
}

h3
{
    background-color: #424242;
    color: #FBC02D;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

.my-info
{
    padding: 20px 40px 20px 40px;
    font-weight: bold;
}

.about-me
{
    text-align: justify;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
}

.hobbies
{
    padding: 20px 40px 40px 40px;
    margin-top: 1em;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;
}

.side-icone
{
    width: 60px;
    height: 60px;
    font-size: 1.9em;
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bloc
{ 
    width: 67%;
    padding-left: 50px;
    padding-right: 50px;
}

.identity
{
    width: 100%;
    margin-bottom: 50px;
}

h1
{
    font-size: 2.8em;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 10px;
}

.first-name
{
    color: #FBC02D;
    font-weight: bold;
}

.job
{
    font-size: 1.2em;
    font-weight: bold;
}

.job, .description-box, .my-info, .about-me
{
    color : #424242;
}

.first-line
{
    background-color: #FBC02D;
    height : 2px;
    width : 55px;
    margin-bottom: 50px;
}

.category-title
{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.icone
{
    width: 30px;
    margin-right: 20px;
    font-size: 1.9em;
    color: #FBC02D;
}

.line
{
    background-color: #FBC02D;
    height : 2px;
    width : 100%;
}

.description-box
{
    display: flex;
    margin-top: 40px;
}

.description-box-recommandation
{
    display: flex;
    margin-top: 20px;
    padding-bottom: 40px;
}


.date-and-place
{
    flex: 1;
    font-weight: bold;
}

.small-icone
{
    width: 30px;
    color: #FBC02D;
}

.description
{
    flex: 3;
}

h4
{
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.recommandation
{
    width: 50%;
}

.recommandation-name
{
    font-weight: bold;
}

.recommandation-email
{
    font-weight: normal;
}


@media screen and (max-width: 640px) 
{
    aside
    {
        width: 100%;
    }

    .bloc-page
    {
        flex-wrap: wrap;
    }
}